@import "../../ui/variables";

.paginate {
    padding: 20px;
    margin-bottom: 30px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;

    .button {
        width: 95px;
        cursor: pointer;
        padding: 8px 20px;
        color: $text-color;
        background-color: transparent;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 3px;
        text-transform: uppercase;

        &:hover {
            background-color: rgba(255,255,255,.1);
        }
    }

    span {
        display: block;
        width: 40px;
        text-align: center;
        line-height: 28px;
        font-size: 16px;
        font-weight: 600;
        color: $text-color;
    }
}